<div class="important-info">
    <a href=""><marquee behavior="scroll" direction="left" onmouseover="this.stop()" onmouseout="this.start()"><span><strong>Important </strong>&nbsp; 
        the Reserve Bank of India (RBI) ordered Paytm Payments Bank to stop offering basic banking services from February 29, mainly due to onboarding of customers and merchants without adequate KYC (know your customer) processes. Persistent non-compliance of regulations was the reason behind the stringent action by the RBI which had warned Paytm two years ago and had also engaged with it. In short, it wasn't anything happening out of the blue. The RBI' action has triggered debates over innovation in th ..
</span></marquee></a>
</div>
