<app-importantinfo></app-importantinfo>
<header>

    <div class="header">
        <img class="header-logo" src="../../assets/UniqueBankLogo.png" alt="UniqueBankLogo" width="auto" height="auto">
    </div>
    <div class="header-last-actions">
        <div class="header-app-actns">
            <a href="">About Us</a>
            <a href="">Investers</a>
            <i title="Locate Us" class="fa-regular fa-location-dot"></i>
            <i class="fa-thin fa-location-dot"></i>
        </div>
        <div class="header-app-captaliz">
            <i class="fa-solid fa-display"></i>
        </div>

    </div>
</header>